<h1> Update your Workout:</h1>
<br><br>
<form action="/workouts/<%= @workout.id %>" method="POST">
  <h2> Edit a category below: </h2>
  <input type="hidden" name="_method" value="patch">
  <input type="radio" name="category" value="Arms">Arms<br>
  <input type="radio" name="category" value="Abs">Abs<br>
  <input type="radio" name="category" value="Back">Back<br>
  <input type="radio" name="category" value="Legs">Legs<br>
  <input type="radio" name="category" value="Chest">Chest<br>
  <input type="radio" name="category" value="Full Body">Full Body<br>
  <br><br>
  <input type="radio" name="duration" value="15">15 minutes<br>
  <input type="radio" name="duration" value="30">30 minutes<br>
  <input type="radio" name="duration" value="45">45 minutes<br>
  <input type="radio" name="duration" value="60">60 minutes<br>
  <input type="radio" name="duration" value="90">90 minutes<br>
  <input type="radio" name="duration" value="120">120 minutes<br>
  <br><br>
  <input type="submit" name="" value="Save Changes">
</form>
