<!DOCTYPE html>
<html>
<body>
<h1>All Completed Workouts</h1>
<br><br>
<br><br>
<style>
div {
  border-style: solid;
  border-width: thin;
}
</style>
<% @workouts.each do |workout| %>
<div>
  <h4><a href= "/workouts/<%= workout.id %>"><%= workout.formatted_created_at_time %></a></h4>
  <br><br>
  <p><strong><%= workout.category %></strong> workout completed!</p>
  <br><br>
  </div>
  <br><br>
<% end %>
</body>
</html>
