<!DOCTYPE html>
<html>
<body>
<h1>All Completed Workout Categories!</h1>
<br><br>
<p>Nice work! Here's what you've done so far: </p>
<br><br>
<% @workouts.each do |workout| %>
  <p><a href= "/workouts/<%= workout.id %>"><%= workout.formatted_created_at_time %></a></p>
  <p><strong><%= workout.category %></strong> workout completed!</p>
  <p><strong><%= workout.duration %></strong> minute workout completed!</p>
  <br><br>
<% end %>
</body>
</html>
