<h1>Enter your new workout below:</h1>
<br><br>
<form action="/workouts/new" method="POST">
 <p>Name: <input type="text" name="username"></p>
 <p>Email: <input type="text" name="email"></p>
 <p>Password: <input type="text" name="password"></p>
 <input class="btn btn-primary" type="submit">
</form>
