<h1>Record Today's Workout:</h1>
<br><br>
<form action="/workouts/new" method="POST">
  <h2> Choose a category below: </h2>
  <input type="radio" name="upper body" value="upper body"> Upper Body<br>
  <input type="radio" name="lower body" value="lower body"> Lower Body<br>
  <input type="radio" name="cardio" value="cardio"> Cardio
</form>

<form>
  <br><br>
  <input class="btn btn-primary" type="submit">
</form>
