<h1>Record Today's Workout:</h1>
<br><br>
<form action="/workouts" method="POST">
  <h2> Choose a category below: </h2>
  <input type="radio" name="category" value="upper body"> Upper Body<br>
  <input type="radio" name="category" value="lower body"> Lower Body<br>
  <input type="radio" name="category" value="cardio"> Cardio
  <br><br>
  <input type="submit" value="Select Category">
</form>

<!-- <form action="/workouts" method="POST">
  <h2> Choose a category below: </h2>
  <p>Upper Body, Lower Body or Cardio?: <input type="text" name="category" placeholder="Upper Body"></p>
</form> -->
