<h1>Here are your workouts</h1>


<br><br>
<!-- <p> Track Your Progress: <a href="/exercises/new"> Log Upper Body
<br><br>
<p> Track Your Progress: <a href="/exercises/new"> Log Lower Body
<br><br>
<p> Track Your Progress: <a href="/exercises/new"> Log Cardio -->
<h4> Track Your Progress:</h4>
<select name="Track Your Progress">
  <option value="upper body">Upper Body</option>
  <option value="lower body">Lower Body</option>
  <option value="cardio">Cardio</option>
</select>
<br><br>
<input type="submit" value="Select Category">
