<h1>Log In To Your Fitness Tracker</h1>
<form action="/users/login" method="post">
  <br><br>
  <h4> Welcome back, please log in!</h4>
  <br><br>
  <label>Email: </label><input type="text" name="email">
  <br></br>
  <label>Password: </label><input type="password" name="password">
  <br></br>
  <input type="submit" value="Log In">
</form>
<br><br>
<p>Or <a href="/users/signup">Sign Up</a> if you don't have an account.</p>
