<center><u><h2> Your Homepage</h2></u>
    <h4> Name: <%= @user.name %></h4>
    <h4> Email: <%= @user.email %></h4>
    <br><br>

    <p> See your <a href="/workouts">Workouts</a> or <a href="/exercises">Exercises</a></p><br><br>
