<h1>Welcome to your Fitness Tracker</h1>

<!DOCTYPE html>
<html>
<head>
<style>
h3 {
text-align: center;
}
</style>
</head>
<body>
<br><br>
<h3><em> With this app, you will be able to keep of track of all of your workouts!</em></h3>
<br><br>
<p> Please <a href="/signup">Sign Up</a> or <a href="/login">Log In</a> to continue.</p>

</body>
</html>
