<h2>Add Today's Workout:</h2>
<br><br>
<!-- <form action="/exercises" method="POST">
  <h2> Choose a category below: </h2>
  <input type="radio" name="bicep curls" value="bicep curls"> Bicep Curls<br>
  <input type="radio" name="squats" value="squats"> Squats<br>
  <input type="radio" name="push ups" value="push ups"> Push Ups
</form> -->

<h4>Log Completed Workout Below:</h4>
<form action="/exercises" method="POST">
<br><br>
 <p>How many reps?: <input type="text" name="reps" placeholder="10"></p>
 <p>What weight did you use?: <input type="integer" name="weight" placeholder="35"></p>
 <p>Completed Date?: <input type="datetime" name="day" placeholder="March 3 2019"></p>
 <br><br>
 <input class="btn btn-primary" type="submit" value= "Create New Workout">
</form>
