<h1>Add Exercises to Today's Workout:</h1>
<br><br>
<form action="/exercises" method="POST">
  <h2> Choose a category below: </h2>
  <input type="radio" name="bicep curls" value="bicep curls"> Bicep Curls<br>
  <input type="radio" name="squats" value="squats"> Squats<br>
  <input type="radio" name="push ups" value="push ups"> Push Ups
</form>

<form>
  <br><br>
  <input class="btn btn-primary" type="submit">
</form>
