<h2>Add Today's Workout!</h2>
<br><br>
<h4>Log Completed Workout Below:</h4>
<form action="/exercises" method="POST">
<br><br>
 <p>What move did you do? : <input type="text" name="move" placeholder="bicep curls">reps</p>
 <p>How many sets?: <input type="integer" name="sets" placeholder="3">reps</p>
 <p>How many reps?: <input type="integer" name="reps" placeholder="10">reps</p>
 <p>What weight did you use?: <input type="integer" name="weight" placeholder="35">pounds</p>
 <p>Completed Date?: <input type="datetime" name="day" placeholder="March 3rd">2019</p>
 <p>Intensity:
 <input type="radio" name="intensity" value="Easy">Easy
 <input type="radio" name="intensity" value="Medium">Medium
 <input type="radio" name="intensity" value="Hard">Hard</p>
 <input type="submit" value= "Create New Workout">
</form>
